<div class="index-content">
  <div class="panel panel-default">
  <div class="panel-body">
    <p id="notice">Thank you for your purchase!<br> We have received your payment and will ship your orders soon.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
